.UpcomingLiveClassShimmer {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.5fr;
  padding: 16px;
  grid-gap: 1rem;
  align-items: center;

  &__Calender {
    width: 100%;
    height: 60px;
  }

  &__Details {
    display: flex;
    flex-direction: column;

    &__info1 {
      margin-bottom: 8px;
      width: 100%;
      height: 16px;
    }
    &__info2 {
      width: 100%;
      height: 21px;
    }
  }

  &__JoinClass {
    width: 100%;
    height: 20px;
  }
}
