@import "../../../../scss/main";

.PaymentInstallment {
  @include flex-dir-col;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: 32px;

  &__image {
    margin-top: 1rem;
  }

  &__heading {
    font-style: normal;
    @include customFont($font-medium, $lineHeight-medium, 600);
    color: $color-text-black;
  }

  &__subtext {
    @include customFont($font-small, $lineHeight-medium, normal);
    color: $color-text-black;
  }

  button {
    // margin-bottom: 3rem;
  }

  &__goback {
    @include customFont($font-xs, $lineHeight-small, 600);
    color: $color-app-accent;
  }
}
