@import "../../../../scss/main";

.CourseLocked {
  @include flex-dir-col;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: 32px;

  &__image {
    margin-top: 1rem;
  }

  &__heading {
    @include customFont($font-medium, $lineHeight-medium, 600);
    color: $color-text-black;
  }

  &__subtext {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $color-text-grey;

    span {
      display: inline-block;
      font-size: 14px;
      line-height: 21px;
      margin-top: 10px;
      font-weight: 700;
      color: $color-text-black;
    }
  }

  &__viewAllInst {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: $color-app-accent;
    margin-bottom: 5rem;
  }
}
