@import "../../../../scss/main";
.Footer {
  display: grid;
  padding: 16px;
  grid-template-columns: 0.4fr 3fr 1fr 0.5fr;
  grid-gap: 14px;
  align-items: center;
  background: #fff7e4;
  height: 80px;
  padding: 0px 16px;

  &__detail {
    display: flex;
    flex-direction: column;

    &__Info {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 4px;

      @include text-ellipsis(1);
    }

    span {
      margin-right: 2px !important;
    }

    &__event {
      @include flex-align(center);
      white-space: nowrap;
    }

    &__keyInfo {
      color: #7a8b94;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
    }

    &__ValueInfo {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;

      margin-left: 2px;

      @include text-ellipsis(2);
    }
  }

  &__Button {
    width: 79px;
    height: 29px;
    outline: none;
    border: none;
    background: #585bd4;
    color: white;
    border-radius: 4px;
  }
}

.FooterWithoutButton {
  display: grid;
  grid-template-columns: 0.4fr 3fr 0.4fr;
  grid-gap: 14px;
  align-items: center;
  padding: 16px;
  background: #fff7e4;
  height: 80px;
}
